* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ffffff;
}

.event-banner {
    background-image: url('50aef8d3-788b-4b5e-902d-2b7d88ecc74e.png');
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.banner-text h1 {
    color: #f8c1d9;
    font-size: 3rem;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px 40px;
    border-radius: 10px;
}

.event-details {
    padding: 30px;
    background-color: white;
    margin: 20px auto;
    max-width: 900px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-details h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.event-info p {
    line-height: 1.6;
    margin-bottom: 10px;
}

/* --------------------------------------------------------------------------------*/

/* form */
.container_ch{
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* buttons */
.upload-btn1, .upload-btn2, .update-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #ff69b4;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.upload-btn1:hover, .upload-btn2:hover, .update-btn:hover {
    background-color: #ff1493;
}

.upload-icon {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.upload-icon img {
    width: 80px;
    height: 80px;
}
