<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Event_Management_System</display-name>
  
  <servlet>

  	<servlet-name>GetAllServlet</servlet-name>
  	<servlet-class>com.lithira.registration.GetAllServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>GetAllServlet</servlet-name>
  	<url-pattern>/getallsevlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>UpdateUserServlet</servlet-name>
  	<servlet-class>com.lithira.registration.UpdateUserServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>UpdateUserServlet</servlet-name>
  	<url-pattern>/updateuserservlet</url-pattern>
</servlet-mapping>
  <servlet>
  	<servlet-name>InsertCollabServlet</servlet-name>
  	<servlet-class>com.chanith.collaborator.InsertCollabServlet</servlet-class>
 
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>InsertCollabServlet</servlet-name>
  	<url-pattern>/insertcollabservlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>GetAllCollabs</servlet-name>
  	<servlet-class>com.chanith.collaborator.GetAllCollabs</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>GetAllCollabs</servlet-name>
  	<url-pattern>/getallcollabs</url-pattern>
  </servlet-mapping>  
  
  <servlet>
  	<servlet-name>collabUpdateServlet</servlet-name>
  	<servlet-class>com.chanith.collaborator.collabUpdateServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>collabUpdateServlet</servlet-name>
  	<url-pattern>/collabupdateservlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>collabDeleteServlet</servlet-name>
  	<servlet-class>com.chanith.collaborator.collabDeleteServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>collabDeleteServlet</servlet-name>
  	<url-pattern>/collabdeleteservlet</url-pattern>

  </servlet-mapping>
  
</web-app>